{% extends 'BbrHomeBundle::layout.html.twig' %}

{% block content %}
<div class="col7">
	<p>GRAND JEU CONCOURS</p>
	<p>Une voiture de 20 000 euros à gagner!!</p>
</div>
<div class="col3">
	<img src="{{ asset('bundles/bbrhome/images/logo_site_1000fois.bmp') }}" />
</div>
{% endblock %}
