			<div class="link">
				<ul>
					<li><a href="#">Accueil</a></li>
					<li class="sep">|</li>
					<li><a href="#">Le Concept</a></li>
					<li class="sep">|</li>
					<li><a href="#">Prix</a></li>
					<li class="sep">|</li>
					<li><a href="#">S'enregistrer</a></li>
					<li class="sep">|</li>
					<li><a href="#">Mentions Légales</a></li>
				</ul>
			</div>
			<div class="copyright">
				Copyright ® 2012 <b>1000fois.fr</b>. All Rights Reserved.
			</div>
